*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #183035;
    color: #F9F5F7;
    font: 14px 'Open Sans', sans-serif;
}
.main {
    margin: 0 auto;
    min-width: 320px;
    max-width: 900px;
}
.content {
    background: #fff;
    color: #373737;

}
.content > div {
    display: none;
    padding: 15px 15px 15px 15px;
}
input {
    display: none;
}
label {
    display: inline-block;
    padding: 15px 20px;
    font-weight: 600;
    text-align: center;
}
label:hover {
    color: #fff;
    cursor: pointer;
}
input:checked + label {
    background: #6A123C;
    color: #fff;
}
#tab0:checked ~ .content #content0,
#tab1:checked ~ .content #content1,
#tab2:checked ~ .content #content2,
#tab3:checked ~ .content #content3,
#tab4:checked ~ .content #content4,
#tab5:checked ~ .content #content5 {
    display: block;
}
@media screen and (max-width: 400px) {
    label {
        padding: 15px 10px;
    }
}


.container {
  display: table;
}
.row {
  display: table-row;
}
.column {
  display: table-cell;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.contentContainer {
    margin-top: 5%;
    color: #FFFFFF;
    text-align: center;
    background: #183035;
    align: center;

}
.smallerText {
    font-size: 75%;
}
.biggerText {
    font-size: 150%;
}
.firstTab {
    background: #183035;
    color: #F9F5F7;
    font: 2em;
    height: 100%;
}
.buttonContainer {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;

    background: #183035;
    /*float: left; */
    vertical-align: top;
     display:inline-block;

    padding-bottom: 10px;
    text-align: center;
    width: 290px;

}
.btn {
    border-radius: 1px;
    color: #ffffff;
    font-size: 1.25em;
    background: #6A123C;
    padding: 5px 20px 5px 20px;
    border: solid #292d30 1px;
    text-decoration: none;
    max-width: 210px;
    min-height: 156px;
    z-index: 100;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    -webkit-filter:grayscale(100%);

}

.btnTwo {
    border-radius: 1px;
    color: #ffffff;
    font-size: 1.25em;
    background: #6A123C;
    padding: 5px 10px 5px 10px;
    border: solid #292d30 1px;
    text-decoration: none;
    width: 100%;
    min-height: 50px;
    z-index: 100;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}


.upgradeBtn {
    -webkit-animation-name: weirdPulse;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;

    animation-name: weirdPulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    border-radius: 1px;


    color: #ffffff;
    font-size: 1.25em;
    background: #9a7402;
    padding: 15px 15px 15px 15px;
    border: solid #292d30 1px;
    text-decoration: none;

    cursor: pointer;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    text-decoration: none;
    overflow: hidden;
    width: 90%;
    z-index: 100;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;


}

@-webkit-keyframes greenPulse {
    from {
        background-color: #749a02;
    }
    50% {
        background-color: #91bd09;

    }
    to {
        background-color: #749a02;

    }
}

@keyframes greenPulse {
    from {
        background-color: #749a02;
    }
    50% {
        background-color: #91bd09;

    }
    to {
        background-color: #749a02;

    }
}

@-webkit-keyframes weirdPulse {
    from {
        background-color: #289a02;
    }
    50% {
        background-color: #029a74;

    }
    to {
        background-color: #289a02;

    }
}

@keyframes weirdPulse {
    from {
        background-color: #289a02;
    }
    50% {
        background-color: #029a74;

    }
    to {
        background-color: #289a02;

    }
}

.littleBtn {
    -webkit-animation-name: weirdPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;

    animation-name: weirdPulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    border-radius: 1px;


    color: #ffffff;
    font-size: 1em;
    background: #9a7402;
    padding: 5px 5px 5px 5px;
    border: solid #292d30 1px;
    text-decoration: none;

    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    /* Safari */
    
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    max-width: 60px;
    z-index: 100;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;


}

.greenBtn {
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;

    animation-name: greenPulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    border-radius: 1px;


    color: #ffffff;
    font-size: 1.25em;
    background: #9a7402;
    padding: 5px 20px 5px 20px;
    border: solid #292d30 1px;
    text-decoration: none;

    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    /* Safari */
    
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    max-width: 210px;
    min-height: 156px;
    z-index: 100;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;


}
.greenBtn:active {
    background: #4586ae;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#4586ae), to(#65acc8));
    background: -moz-linear-gradient(#4586ae, #65acc8);
    background: linear-gradient(#4586ae, #65acc8);
}

.bigGreenBtn {
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;

    animation-name: greenPulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    border-radius: 1px;
    color: #ffffff;
    font-size: 1.25em;
    background: #65acc8;
    padding: 5px 20px 5px 20px;
    border: solid #292d30 1px;
    text-decoration: none;

    -webkit-transition-duration: 0.4s;

    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    z-index: 100;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    width: 90%;

}

.bigNumbers {
    float: left;
    font-size: 166%;
}
.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 200%;
    height: 200%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 5%;
    left: 15%;
    width: 70%;
    height: 90%;
    padding: 1em;
    border: 2px solid orange;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    color: #000;
    font-size: 2em;
    font-style: bold;
    text-align: center;
}

.achievement {
    display: none;

    position: absolute;

    top: 500px;
    right: 500px;

    width: 100%;
    height: 150px;

    z-index: 1001;

    -webkit-transition:width 1s;
    transition: width 1s;
    overflow: hidden;
}
/* width then its slided out */
.achievementOut {
    display: block;
    position: absolute;
    top: 40vh;
    width: 100%;
    min-height: 100px;
    border: 0px;
    padding: 0px;
    z-index: 1001;
    background-color: #B2094E;
    color: #FFFFFF;
    overflow: hidden;
    text-align: center;
}


/* The achievement text */
.achievementText {
    text-align: center;
    color: #fff;
    font-size: 3em;
}

.achievementOutBehind {
    display: block;
    position: absolute;
    top: 40vh;
    width: 99%;
    min-height: 110px;
    border: 0px;
    padding: 0px;
    z-index: 999;
    ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Safari */
    transform: rotate(-2deg);
    background-color: #FFE700;
    color: #FFFFFF;
    overflow: hidden;
    text-align: center;
}




/* test */
#myProgress {
    position: relative;

    float: right;
    width: 78px;
    height: 78px;
    background-color: #FFE700;


}
.myBar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #B2094E;

}